* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Add font files for Kumar One */
@font-face {
  font-family: "Kumar One";
  src: url("fonts/kumar-one.woff2") format("woff2"),
    url("fonts/kumar-one.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
:root {
  --font-family-kumar-one: "Kumar One", sans-serif;
  --text-white: rgba(255, 255, 255, 1);
}
html,
body {
  height: 100%;
  margin: 0;
  min-height: 100vh;
  padding: 0;
}
.landing_page {
  background-image: url("../img/AdobeStock_504408406\ [1980].png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.welcome_text {
  font-family: var(--font-family-kumar-one);
  font-weight: normal;
  font-size: 6em;
  text-decoration: none;
  text-transform: none;
  color: var(--text-white);
  margin: auto;
  text-align: center;
}

.enter_btn {
  --color: #ffffff;
  --color2: #0033cc;
  padding: 0.8em 1.75em;
  background-color: transparent;
  border-radius: 0.375em;
  border: 0.1875em solid var(--color);
  transition: 1s;
  position: absolute;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
  font-weight: 500;
  font-size: 1.25em;
  font-family: "Roboto", "Segoe UI", sans-serif;
  text-transform: uppercase;
  color: var(--color);
  top: 65%;
  left: 48%;
  text-align: center;
  align-items: center;
  transform: translate(-25%, -50%);
  box-shadow: 0 0 0.625em rgba(0, 0, 0, 10);
  margin-top: 2em;
}
.enter_btn::after,
.enter_btn::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  transform: skew(90deg) translate(-50%, -50%);
  position: absolute;
  inset: 50%;
  left: 25%;
  z-index: -1;
  transition: 0.5s ease-out;
  background-color: var(--color);
}

.enter_btn::before {
  top: -50%;
  left: -25%;
  transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
}

.enter_btn:hover::before {
  transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
}

.enter_btn:hover::after {
  transform: skew(45deg) translate(-50%, -50%);
}

.enter_btn:hover {
  color: var(--color2);
}

.enter_btn:active {
  filter: brightness(0.7);
}

/* Tablet */
@media (max-width: 900px) {
  .welcome_text {
    font-size: 4em;
  }
  .enter_btn {
    font-size: 1rem;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

/* Mobile */
@media (max-width: 600px) {
  .landing_page {
    padding: 1em;
  }
  .welcome_text {
    font-size: 7em;
  }
  .enter_btn {
    position: static;
    margin: 2em auto 0 auto;
    width: 90%;
    left: auto;
    top: auto;
    transform: none;
  }
}
